
<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" th:href="@{img/css/header.css}">
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="" href="/courses">Courses</a>
                    </li>
                <li class="nav-item active">
                    <a class="" href="/transport">Transport</a>
                </li>
                <li class="nav-item active">
                    <a class="" href="/instructor">Instructor</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="/"><img class="logo" th:src="@{img/driving.svg}" alt=""></a>
                </li>
            </ul>
        </div>
    </nav>
    </div>