<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <style>
        nav{
            padding: 0;
            background: lightgray;
            height: 15vh;
            /*border-bottom:1px solid black;*/
        }
        ul {
            list-style-type: none;
        }

        li {
            padding: 10px;
        }
        .nav-item a{
            font-size: 25px;
        }
        .navbar-header  .navbar-menu {
            display: flex;
        }

        .logo{
            width: 7vw;
            padding: 1vh 0;
        }
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            color: #03a9f4;
        }
    </style>
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="" href="/courses">Courses</a>
                    </li>
                <li class="nav-item active">
                    <a class="" href="/transport">Transport</a>
                </li>
                <li class="nav-item active">
                    <a class="" href="/instructor">Instructor</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="/"><img class="logo" th:src="@{img/driving.svg}" alt=""></a>
                </li>
            </ul>
        </div>
    </nav>
    </div>